@use "../css/sass/layouts/global-role";
@use "../css/sass/layouts/color" as *;
@use "../css/sass/layouts/variabels" as *;

/*start fonts*/
@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-Black";
  src: url(../fonts/Poppins-Black.ttf);
}
/*start fonts*/
body {
  font-family: "Poppins-Medium";
  overflow-x: hidden !important;
}
/*global btn*/
.global-btn {
  background-color: $main-color;
  border: 2px solid $main-color;
  color: $white-color;
  transition: $transitions;
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -ms-transition: $transitions;
  -o-transition: $transitions;
  &:hover {
    background-color: transparent;
    border: 2px solid $main-color;
    color: $main-color;
    transform: translateY(-6px);
    box-shadow: 6px 8px 0px $main-color;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
  }
}
/*global btn*/

/* start special title*/
.special-title {
  h2 {
    width: fit-content;
    color: $main-color;
    margin-bottom: 80px;
    position: relative;
    z-index: 111;
    font : {
      family: "Poppins-Black";
      size: 48px;
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: -5px;
      bottom: -7px;
      z-index: -1;
      width: 186px;
      height: 35px;
      background-color: $secondry-color;
      border-radius: 100% 0;
      -moz-border-radius: 100% 0;
      -ms-border-radius: 100% 0;
      -o-border-radius: 100% 0;
    }
  }
}
/* end special title*/

/*start header*/
header {
  nav {
    .navbar-brand {
      font: {
        family: "Poppins-Black";
        size: 37px;
      }
      img {
        width: 31.26px;
        height: 29px;
      }
      @media (max-width: 460px) {
        font-size: 27px;
      }
    }
    ul {
      gap: 40px;
      li {
        position: relative;
        overflow: hidden;
        &:hover::after,
        &:hover::before {
          width: 51%;
        }
        &::after,
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 0;
          background-color: $main-color;
          bottom: 0;
          height: 3px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          transition: $transitions;
          -webkit-transition: $transitions;
          -moz-transition: $transitions;
          -ms-transition: $transitions;
          -o-transition: $transitions;
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
        a {
          font : {
            family: "Poppins-Medium";
            size: 22px;
          }
          &.global-btn {
            padding: 5px 20px !important;
            font-size: 20px;
          }
        }
      }
    }
  }
}
/*end header*/
/*start welcome section*/
.welcome {
  padding-bottom: 60px;
  .parent {
    position: relative;
    padding: 70px 50px;
    background-color: $background-color-welcom-sec;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    @media (max-width: 991px) {
      padding: 30px 35px 0;
    }
    .content {
      h1 {
        margin-bottom: 40px;
        font : {
          family: "Poppins-Black";
          size: 80px;
        }
        @media (max-width: 767px) {
          font-size: 49px;
        }
        span {
          position: relative;
          z-index: 111 !important;
          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: -25px;
            top: -15px;
            z-index: -1;
            width: 100%;
            height: 100%;
            transform: rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            @media (max-width: 991px) {
              left: -10px;
              top: -0;
              transform: rotate(0deg);
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              -o-transform: rotate(0deg);
            }
          }
          &.first::after {
            background-color: $white-color;
          }
          &.seconde::after {
            background-color: $secondry-color;
          }
        }
      }
      p {
        font-size: 18px;
        letter-spacing: -1px;
        margin-bottom: 32px;
      }
      button {
        padding: 13px 30px;
        letter-spacing: -1.5px;
        font : {
          family: "Poppins-Medium";
          size: 30px;
        }
        @media (max-width: 540px) {
          padding: 5px 15px;
          font-size: 24px;
        }
      }
      @media (max-width: 1199px) {
        margin-bottom: 35px;
      }
    }
    .photo {
      position: relative;
      img {
        &.person {
          position: relative;
          z-index: 11111;
        }
        &.shape {
          position: absolute;
          width: 58px;
          height: 56px;
          z-index: 1;
        }
        &.shap-1 {
          left: 0;
          bottom: 20px;
        }
        &.shap-2 {
          right: 0;
          top: 30px;
        }
        &.shap-3 {
          top: -20px;
          left: 20px;
        }
        &.shap-4 {
          right: 30px;
          bottom: 50px;
        }
      }
    }
  }
}
/*end welcome section*/
/*start brand section*/
.brands {
  padding: 60px 0;
  background-color: $secondry-color;
  .list-brands {
    @media (max-width: 991px) {
      div {
        margin-bottom: 30px;
      }
    }
    img {
      width: 85%;
    }
  }
}
/*end brand section*/

/* start arrivals section*/
.arrivals {
  padding: 69px 0;
  .parent {
    gap: 90px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    .detials {
      width: 484px;
      @media (max-width: 991px) {
        width: 100%;
        text-align: center;
      }
      .content {
        img {
          margin-bottom: 28px;
          border-radius: $radius-20;
          -webkit-border-radius: $radius-20;
          -moz-border-radius: $radius-20;
          -ms-border-radius: $radius-20;
          -o-border-radius: $radius-20;
        }
        .info {
          &:hover svg {
            transform: rotate(-30deg);
            -webkit-transform: rotate(-30deg);
            -moz-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            -o-transform: rotate(-30deg);
          }
          a {
            margin-bottom: 7px;
            color: $main-color;
            font : {
              family: "Poppins-Medium";
              size: 23px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
          button {
            padding: 0;
            color: $button-color;
            &:hover {
              text-decoration: underline;
            }
          }
          svg {
            color: $button-color;
            font-size: 20px;
            transition: $transitions;
            -webkit-transition: $transitions;
            -moz-transition: $transitions;
            -ms-transition: $transitions;
            -o-transition: $transitions;
          }
        }
      }
    }
  }
}
/* end arrivals section*/
/* start sales section*/
.sales {
  padding: 90px 0 0;
  background: linear-gradient(to top, #d4b83c, #f9df56);
  .sales-content-parent {
    flex-wrap: wrap;
    .sales-children {
      position: relative;
      flex: 1 1;
      flex-basis: 45%;
      @media (max-width: 991px) {
        flex-basis: 100%;
      }
      img {
        &:nth-child(1) {
          filter: drop-shadow(34px -32px 50px black);
          position: relative;
          z-index: 11;
          -webkit-filter: drop-shadow(34px -32px 50px black);
        }
        &.stars {
          position: absolute;
          width: 76px;
          height: 76px;
          z-index: 1;
          &:nth-child(2) {
            top: 50px;
            left: 100px;
            @media (max-width: 767px) {
              left: 40px;
            }
          }
          &:nth-child(3) {
            bottom: 0;
            left: 60px;
            @media (max-width: 767px) {
              left: 20px;
            }
          }
          &:nth-child(4) {
            top: 0;
            right: 60px;
            @media (max-width: 767px) {
              right: 24px;
            }
          }
          &:nth-child(5) {
            bottom: 60px;
            right: 60px;
            @media (max-width: 767px) {
              right: 20px;
            }
          }
        }
      }
      .content-text-sales {
        padding: 30px 60px;
        @media (max-width: 991px) {
          margin-top: 50px;
        }
        @media (max-width: 767px) {
          padding: 0;
        }
        h2 {
          margin-bottom: 33px;
          color: $main-color;
          width: fit-content;
          font : {
            family: "Poppins-Black";
            size: 80px;
          }
          span {
            position: relative;
            z-index: 111;
            &::before {
              content: "";
              display: inline-block;
              position: absolute;
              left: -23px;
              top: -5px;
              width: 400px;
              height: 100%;
              background-color: $white-color;
              z-index: -1;
              transform: rotate(-2deg);
              -webkit-transform: rotate(-2deg);
              -moz-transform: rotate(-2deg);
              -ms-transform: rotate(-2deg);
              -o-transform: rotate(-2deg);
              @media (max-width: 767px) {
                width: 100%;
                left: -5px;
                transform: rotate(-1deg);
                -webkit-transform: rotate(-1deg);
                -moz-transform: rotate(-1deg);
                -ms-transform: rotate(-1deg);
                -o-transform: rotate(-1deg);
              }
            }
          }
          @media (max-width: 767px) {
            font-size: 45px;
            margin-bottom: 25px;
          }
        }
        p {
          color: #231300;
          width: 481px;
          margin-bottom: 30px;
          font : {
            family: "Poppins-Medium";
            size: 26px;
          }
          @media (max-width: 767px) {
            width: 100%;
            font-size: 18px;
            margin-bottom: 24px;
          }
        }
        .date {
          padding-bottom: 30px;
          h4 {
            margin-bottom: 10px;
            color: $main-color;
            font : {
              family: "Poppins-Bold";
              size: 30px;
            }
            @media (max-width: 767px) {
              font-size: 22px;
            }
          }
          p {
            margin-bottom: 25px;
          }
          button {
            font-size: 20px;
            padding: 10px 25px;
          }
        }
      }
    }
  }
}
/* end sales section*/

/*start young section*/
.young-favourite {
  padding: 100px 0;
  .young-content {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    &:hover svg {
      transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
    }
    img {
      margin-bottom: 28px;
      border-radius: $radius-20;
      -webkit-border-radius: $radius-20;
      -moz-border-radius: $radius-20;
      -ms-border-radius: $radius-20;
      -o-border-radius: $radius-20;
    }
    svg {
      color: $button-color;
      font-size: 20px;
      transition: $transitions;
      -webkit-transition: $transitions;
      -moz-transition: $transitions;
      -ms-transition: $transitions;
      -o-transition: $transitions;
    }
    .link {
      a {
        &:hover {
          text-decoration: underline;
        }
        &:nth-child(2) {
          color: $button-color;
          font-size: 20px;
        }
        color: $main-color;
        &.title {
          font : {
            size: 22px;
            family: "Poppins-Medium";
          }
          @media (max-width: 410px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
/*end young section*/

/*start app section*/
.download-app {
  padding: 70px 0;
  .content-app {
    h3 {
      line-height: 70px;
      color: $main-color;
      margin-bottom: 40px;
      font : {
        family: "Poppins-Black";
        size: 48px;
      }
      @media (max-width: 450px) {
        font-size: 30px;
        line-height: 1.3;
      }
    }
    p {
      color: $button-color;
      margin-bottom: 50px;
      font : {
        family: "Poppins-Medium";
        size: 24px;
      }
      @media (max-width: 450px) {
        font-size: 19px;
        margin-bottom: 30px;
      }
    }
    .app-link {
      gap: 19px;
    }
    .circle {
      border: 3px solid #efeceb;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      &.circle-1 {
        width: 450px;
        height: 450px;
        @media (max-width: 400px) {
          width: 350px;
          height: 350px;
        }
      }
      &.circle-2 {
        width: 550px;
        height: 550px;
        @media (max-width: 400px) {
          width: 400px;
          height: 400px;
        }
      }
      &.circle-3 {
        width: 650px;
        height: 650px;
        @media (max-width: 400px) {
          width: 450px;
          height: 450px;
        }
      }
      @media (min-width: 768px) and (max-width: 1199px) {
        display: none;
      }
    }
    .circle-color {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .color1 {
      top: 150px;
      right: -10px;
      background-color: $secondry-color;
      width: 50px;
      height: 50px;
    }
    .color2 {
      bottom: 200px;
      right: 0;
      width: 20px;
      height: 20px;
      background-color: #89807a;
    }
    .color3 {
      top: 200px;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #89807a;
    }
    .color4 {
      bottom: 200px;
      left: 0;
      width: 34px;
      height: 34px;
      background-color: $secondry-color;
    }
  }
}
/*end app section*/

/* start community section*/
.community {
  padding: 120px 0;
  background-color: $secondry-color;
  .details-community {
    h2 {
      width: 900px;
      color: $white-color;
      font: {
        size: 55px;
        family: "Poppins-Bold";
      }
      @media (max-width: 991px) {
        width: 100%;
        font-size: 35px;
        text-align: left;
      }
    }
    p {
      color: $white-color;
      font-size: 30px;
      margin-bottom: 40px;
      @media (max-width: 991px) {
        text-align: left;
        font-size: 20px;
      }
    }
    form {
      .email {
        background-color: #ffffff;
        width: 570px;
        padding: 27px 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        input[type="email"] {
          border: none;
          top: 50%;
          width: 80%;
          padding-left: 20px;
          left: 0;
          background-color: transparent;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          @media (max-width: 767px) {
            width: 60%;
          }
        }
        input[type="submit"] {
          background-color: $main-color;
          font-size: 25px;
          color: $white-color;
          padding: 1px 20px;
          right: 10px;
          top: 50%;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          @media (max-width: 767px) {
            padding: 1px 10px;
          }
        }
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}
/* end community section*/

/* start footer*/
footer {
  padding: 120px 0;
  background-color: $main-color;
  .details-foot {
    h3 {
      color: $white-color;
      margin-bottom: 30px;
      font : {
        size: 40px;
        family: "Poppins-Black";
      }
    }
    p {
      color: $P-color-footer;
      font-size: 22px;
      margin-bottom: 32px;
    }
    .social-icons {
      gap: 15px;
      a {
        overflow: hidden;
        background-color: $secondry-color;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        position: relative;
        z-index: 111;
        &:hover::before {
          width: 200%;
          height: 200%;
        }
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          z-index: -1;
          bottom: -20px;
          // left: 50%;
          right: -10px;
          width: 20px;
          height: 20px;
          background-color: $white-color;
          border-radius: 50%;
          // transform: translateX(-50%);
          transition: $transitions;
          // -webkit-transform: translateX(-50%);
          // -moz-transform: translateX(-50%);
          // -ms-transform: translateX(-50%);
          // -o-transform: translateX(-50%);
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          -webkit-transition: $transitions;
          -moz-transition: $transitions;
          -ms-transition: $transitions;
          -o-transition: $transitions;
        }
        svg {
          font-size: 26px;
          color: $main-color;
        }
      }
    }
    @media (max-width: 1199px) {
      margin-bottom: 35px;
    }
  }
  .list-link {
    h5 {
      font-size: 24px;
      color: $white-color;
      margin-bottom: 32px;
    }
    ul {
      li {
        margin-bottom: 25px;
        &:hover a {
          color: $secondry-color;
        }
        a {
          font-size: 20px;
          color: $P-color-footer;
          transition: $transitions;
          -webkit-transition: $transitions;
          -moz-transition: $transitions;
          -ms-transition: $transitions;
          -o-transition: $transitions;
        }
      }
    }
    @media (max-width: 1199px) {
      margin-bottom: 35px;
    }
  }
}
/* end footer*/

/* scroll top button*/
.scroll-top {
  a {
    box-shadow: 0px 0px 80px $main-color;
    background-color: $secondry-color;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    position: fixed;
    bottom: 40px;
    right: -100px;
    z-index: 11111111111111111111;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    transition: $transitions;
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    svg {
      color: $main-color;
      font-size: 26px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
  }
}
/* scroll top button*/
.show {
  right: 40px !important;
}
