* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a, span, img {
  display: inline-block;
}

img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
}

a {
  text-decoration: none;
}

/*start fonts*/
@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-Black";
  src: url(../fonts/Poppins-Black.ttf);
}
/*start fonts*/
body {
  font-family: "Poppins-Medium";
}

/*global btn*/
.global-btn {
  background-color: #000000;
  color: #ffffff;
}
.global-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

/*global btn*/
/* start special title*/
.special-title h2 {
  width: -moz-fit-content;
  width: fit-content;
  color: #000000;
  margin-bottom: 80px;
  position: relative;
  z-index: 111;
  font-family: "Poppins-Black";
  font-size: 48px;
}
.special-title h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -5px;
  bottom: -7px;
  z-index: -1;
  width: 186px;
  height: 35px;
  background-color: #e6c744;
  border-radius: 100% 0;
  -moz-border-radius: 100% 0;
  -ms-border-radius: 100% 0;
  -o-border-radius: 100% 0;
}

/* end special title*/
/*start header*/
header nav .navbar-brand {
  font-family: "Poppins-Black";
  font-size: 37px;
}
header nav .navbar-brand img {
  width: 31.26px;
  height: 29px;
}
@media (max-width: 460px) {
  header nav .navbar-brand {
    font-size: 27px;
  }
}
header nav ul {
  gap: 40px;
}
header nav ul li {
  position: relative;
  overflow: hidden;
}
header nav ul li a {
  font-family: "Poppins-Medium";
  font-size: 22px;
}
header nav ul li a.global-btn {
  padding: 5px 20px !important;
  font-size: 20px;
}

/*end header*/
/*start welcome section*/
.welcome {
  padding-bottom: 60px;
}
.welcome .parent {
  position: relative;
  padding: 70px 50px 0;
  background-color: #f4f6f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media (max-width: 991px) {
  .welcome .parent {
    padding: 30px 35px 0;
  }
}
.welcome .parent .content h1 {
  margin-bottom: 40px;
  font-family: "Poppins-Black";
  font-size: 80px;
}
@media (max-width: 767px) {
  .welcome .parent .content h1 {
    font-size: 49px;
  }
}
.welcome .parent .content h1 span {
  position: relative;
  z-index: 111 !important;
}
.welcome .parent .content h1 span::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -25px;
  top: -15px;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
}
@media (max-width: 991px) {
  .welcome .parent .content h1 span::after {
    left: -10px;
    top: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
.welcome .parent .content h1 span.first::after {
  background-color: #ffffff;
}
.welcome .parent .content h1 span.seconde::after {
  background-color: #e6c744;
}
.welcome .parent .content p {
  font-size: 18px;
  letter-spacing: -1px;
  margin-bottom: 32px;
}
.welcome .parent .content button {
  padding: 13px 30px;
  letter-spacing: -1.5px;
  font-family: "Poppins-Medium";
  font-size: 30px;
}
@media (max-width: 540px) {
  .welcome .parent .content button {
    padding: 5px 15px;
    font-size: 24px;
  }
}
@media (max-width: 1199px) {
  .welcome .parent .content {
    margin-bottom: 35px;
  }
}
.welcome .parent .photo {
  position: relative;
}
.welcome .parent .photo img.person {
  position: relative;
  z-index: 11111;
}
.welcome .parent .photo img.shape {
  position: absolute;
  width: 58px;
  height: 56px;
  z-index: 1;
}
.welcome .parent .photo img.shap-1 {
  left: 0;
  bottom: 20px;
}
.welcome .parent .photo img.shap-2 {
  right: 0;
  top: 30px;
}
.welcome .parent .photo img.shap-3 {
  top: -20px;
  left: 20px;
}
.welcome .parent .photo img.shap-4 {
  right: 30px;
  bottom: 50px;
}

/*end welcome section*/
/*start brand section*/
.brands {
  padding: 60px 0;
  background-color: #e6c744;
}
@media (max-width: 991px) {
  .brands .list-brands div {
    margin-bottom: 30px;
  }
}
.brands .list-brands img {
  width: 85%;
}

/*end brand section*/
/* start arrivals section*/
.arrivals {
  padding: 69px 0;
}
.arrivals .parent {
  gap: 90px;
}
@media (max-width: 991px) {
  .arrivals .parent {
    flex-wrap: wrap;
  }
}
.arrivals .parent .detials {
  width: 484px;
}
@media (max-width: 991px) {
  .arrivals .parent .detials {
    width: 100%;
    text-align: center;
  }
}
.arrivals .parent .detials .content img {
  margin-bottom: 28px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.arrivals .parent .detials .content .info:hover svg {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}
.arrivals .parent .detials .content .info a {
  margin-bottom: 7px;
  color: #000000;
  font-family: "Poppins-Medium";
  font-size: 23px;
}
.arrivals .parent .detials .content .info a:hover {
  text-decoration: underline;
}
.arrivals .parent .detials .content .info button {
  padding: 0;
  color: #7f7f7f;
}
.arrivals .parent .detials .content .info button:hover {
  text-decoration: underline;
}
.arrivals .parent .detials .content .info svg {
  color: #7f7f7f;
  font-size: 20px;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}

/* end arrivals section*/
/* start sales section*/
.sales {
  padding: 90px 0;
  background: linear-gradient(to top, #E0C340, #F9DF56);
}

/* end sales section*//*# sourceMappingURL=style.css.map */